/Local
/Index
/Cache
/Backup
Packages/User/GoSublime/osx-x64
Packages/User/oscrypto-ca-bundle.crt
Packages/User/Package\ Control.last-run
Packages/User/Package\ Control.merged-ca-bundle
**.merged-ca-bundle
**/*.last-run
**-run
**.sublime_session
**.sublime_session
**.cache
Packages/User/Package Control.merged-ca-bundle
Packages/User/oscrypto-ca-bundle.crt
